<?xml version="1.0" encoding="UTF-8"?>
<suite name="REST Assured Framework Test Suite" verbose="2" thread-count="4" parallel="tests">
    <test name="API Tests">
        <classes>
            <class name="com.restassured.automation.tests.APITests" />
        </classes>
    </test>

    <listeners>
        <listener class-name="com.restassured.automation.listeners.TestNGListener" />
    </listeners>
</suite>
